//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.12 (64-bit)
//Part Number: GW1NSR-LV4CQN48PC7/I6
//Device: GW1NSR-4C
//Created Time: Sat 07 11 09:37:54 2026

IO_LOC "mipi_lane0_p" 48,47;
IO_PORT "mipi_lane0_p" IO_TYPE=MIPI PULL_MODE=NONE DIFF_RESISTOR=OFF BANK_VCCIO=1.2;
IO_LOC "mipi_lane1_p" 45,46;
IO_PORT "mipi_lane1_p" IO_TYPE=MIPI PULL_MODE=NONE DIFF_RESISTOR=OFF BANK_VCCIO=1.2;
IO_LOC "mipi_clk_p" 43,44;
IO_PORT "mipi_clk_p" IO_TYPE=MIPI PULL_MODE=NONE DIFF_RESISTOR=OFF BANK_VCCIO=1.2;
IO_LOC "tps_sda" 19;
IO_PORT "tps_sda" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=12 OPEN_DRAIN=ON BANK_VCCIO=1.8;
IO_LOC "tps_scl" 18;
IO_PORT "tps_scl" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=12 OPEN_DRAIN=ON BANK_VCCIO=1.8;
IO_LOC "epd_data[7]" 34;
IO_PORT "epd_data[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "epd_data[6]" 33;
IO_PORT "epd_data[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "epd_data[5]" 32;
IO_PORT "epd_data[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "epd_data[4]" 31;
IO_PORT "epd_data[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "epd_data[3]" 30;
IO_PORT "epd_data[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "epd_data[2]" 29;
IO_PORT "epd_data[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "epd_data[1]" 28;
IO_PORT "epd_data[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "epd_data[0]" 27;
IO_PORT "epd_data[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "epd_sdce" 10;
IO_PORT "epd_sdce" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "epd_sdoe" 14;
IO_PORT "epd_sdoe" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=1.8;
IO_LOC "epd_sdle" 9;
IO_PORT "epd_sdle" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "epd_sdclk" 8;
IO_PORT "epd_sdclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "epd_gdsp" 2;
IO_PORT "epd_gdsp" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "epd_gdclk" 1;
IO_PORT "epd_gdclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "epd_gdoe" 13;
IO_PORT "epd_gdoe" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=1.8;
IO_LOC "tps_pwrup" 17;
IO_PORT "tps_pwrup" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=1.8;
IO_LOC "tps_vcom_ctrl" 15;
IO_PORT "tps_vcom_ctrl" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=1.8;
IO_LOC "tps_wakeup" 16;
IO_PORT "tps_wakeup" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=1.8;
IO_LOC "sys_clk" 35;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
